body {
    background-color: #f5f5f5;
}
.container {
    background-image: url('img/playa.avif'); /* Ruta de la imagen dentro de la carpeta img */
    background-size: cover; /* Asegura que la imagen cubra toda la pantalla */
    background-position: center; /* Centra la imagen */
    height: 100vh; /* Ocupa la altura total de la pantalla -*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-circle {
    width: 60px;
    height: 60px;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 1.5rem;
    color: #007bff;
}

.destination-card, .adventure-card {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-align: center;
    margin-bottom: 20px;
}

.destination-card img, .adventure-card img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.destination-card p, .adventure-card p {
    font-weight: bold;
    margin-top: 10px;
}

.navbar.fixed-bottom a {
    font-size: 1.5rem;
}
