/* Estilos para íconos */
.icon {
  font-size: 1.5rem;
  color: #007bff;
}

.footer-icon {
  font-size: 1.2rem;
  color: #007bff;
}

/* Estilos para las tarjetas */
.card {
  margin: 10px 0;
}

.card img {
  object-fit: cover;
  width: 100%;
  height: 150px;
  border-radius: 8px;
}

/* Ajustes responsivos */
@media (min-width: 768px) {
  /* Vista en tablet y escritorio */
  #destinations .col-md-4 {
    max-width: 32%;
    flex: 0 0 32%;
  }

  .icon-row i {
    font-size: 2rem;
  }
}

@media (orientation: portrait) and (max-width: 767px) {
  /* Vista en dispositivos móviles */
  .icon {
    font-size: 1.2rem;
  }

  .footer-icon {
    font-size: 1rem;
  }
}
